/** @format */

.post {
  width: 90%;
  //height: 350px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px -5px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  // border: 1px soled rgb(223, 56, 56);
  margin: 2% auto;
  padding: 0.5rem;
  .top {
    display: flex;
    align-items: center;
    margin: 2%;
    text-align: center;

    justify-content: space-between;
    .extend {
      cursor: pointer;
    }
    .sec1 {
      display: flex;
      cursor: pointer;

      h5 {
        margin-top: 15px;
        margin-left: 10px;
        cursor: pointer;
      }
      h6 {
        margin-left: 10px;
        margin-top: 15px;
        font-family: "Times New Roman";
        color: rgb(46, 46, 46);
        .timeAgo {
          font-family: "serif";
        }
      }
    }
  }
  .mid {
    display: flex;
    flex-direction: column;

    .sec1post {
      display: flex;
      margin-top: 0px;
      margin-left: 30px;
      p {
        width: 95%;
        // font-weight: bold;
        font-size: 1rem;
        // text-align: left;
        margin: 0px;
        text-align: justify;
        font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
      }
    }
    .sec2post {
      width: 90%;
      align-self: center;
      display: flex; /* Added */
      justify-content: center; /* Added */
      align-items: center; /* Added */
      .postimage {
        max-width: 95%;
        max-height: 450px;
        box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
      }
    }
  }

  .buttom {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    .sec1 {
      display: flex;
      align-content: center;
      font-family: Arial, Helvetica, sans-serif;
      .Like {
        width: 20px;
        height: 20px;
        color: white;
        border-radius: 30%;
        border: 1px solid rgb(0, 132, 255);
        background-color: rgb(0, 132, 255);
        cursor: pointer;
      }
      .favorite {
        width: 20px;
        height: 20px;
        font-size: 3px;
        cursor: pointer;
        color: white;
        border-radius: 30%;
        border: 1px solid rgb(255, 0, 0);
        background-color: rgb(255, 0, 0);
        margin: 0px 15px;
      }
      h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
      }
    }
    .sec2 {
      cursor: pointer;
      .comment {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
